<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANNOTATIONS</key>
	<integer>2</integer>
	<key>AUTOCLEANINGSPACE</key>
	<false/>
	<key>AUTOHIDEMATRIX</key>
	<false/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleGCIdleTimeInterval</key>
	<string>1.0</string>
	<key>AppleID</key>
	<string></string>
	<key>AppleLanguages</key>
	<array>
		<string>en</string>
		<string>ja</string>
		<string>fr</string>
		<string>de</string>
		<string>es</string>
		<string>it</string>
		<string>pt</string>
		<string>pt_PT</string>
		<string>nl</string>
		<string>sv</string>
		<string>nb</string>
		<string>da</string>
		<string>fi</string>
		<string>ru</string>
		<string>pl</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>ko</string>
	</array>
	<key>AppleLocale</key>
	<string>en_US</string>
	<key>AppleMeasurementUnits</key>
	<string>Inches</string>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>AppleScrollAnimationEnabled</key>
	<true/>
	<key>AutoPlayAnimation</key>
	<false/>
	<key>CLUTBARS</key>
	<integer>0</integer>
	<key>COPYDATABASEMODE</key>
	<integer>0</integer>
	<key>COPYSETTINGS</key>
	<true/>
	<key>Country</key>
	<string>US</string>
	<key>DATABASELOCATION</key>
	<integer>0</integer>
	<key>DATABASEVERSION</key>
	<string>2.5</string>
	<key>DBWindowFrame</key>
	<string>{{0, 63}, {2560, 1355}}</string>
	<key>DELETEFILELISTENER</key>
	<integer>0</integer>
	<key>DefaultDatabasePath</key>
	<string>(Current User Documents folder)</string>
	<key>DontUseUndoQueueForROIs</key>
	<false/>
	<key>FULL32BITPIPELINE</key>
	<true/>
	<key>LP64bit</key>
	<false/>
	<key>LastWindowsTilingRowsColumns</key>
	<string>11</string>
	<key>MACAPPSTORE</key>
	<false/>
	<key>MAPPERMODEVR</key>
	<integer>0</integer>
	<key>MultipleSessionEnabled</key>
	<true/>
	<key>NOINTERPOLATION</key>
	<false/>
	<key>NSAMPMDesignation</key>
	<array>
		<string>AM</string>
		<string>PM</string>
	</array>
	<key>NSBoldSystemFont</key>
	<string>LucidaGrande-Bold</string>
	<key>NSButtonDelay</key>
	<string>0.4</string>
	<key>NSButtonPeriod</key>
	<string>0.075</string>
	<key>NSConstraintBasedLayoutVisualizeMutuallyExclusiveConstraints</key>
	<false/>
	<key>NSCurrencySymbol</key>
	<string>$</string>
	<key>NSDateFormatString</key>
	<string>%A, %B %e, %y</string>
	<key>NSDateTimeOrdering</key>
	<string>MDYH</string>
	<key>NSDecimalDigits</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
	</array>
	<key>NSDecimalSeparator</key>
	<string>.</string>
	<key>NSDragAutoscrollAreaWidth</key>
	<string>5.0</string>
	<key>NSDragCancelLimit</key>
	<string>100000.0</string>
	<key>NSDraggingAutoscrollDelay</key>
	<string>0.4</string>
	<key>NSEarlierTimeDesignations</key>
	<array>
		<string>prior</string>
		<string>last</string>
		<string>past</string>
		<string>ago</string>
	</array>
	<key>NSEnableAutoCollapseOutlineDuringDragsDefault</key>
	<string>NO</string>
	<key>NSEnableAutoExpandOutlineDuringDragsDefault</key>
	<string>YES</string>
	<key>NSFixedPitchFont</key>
	<string>Menlo-Regular</string>
	<key>NSFixedPitchFontSize</key>
	<real>11</real>
	<key>NSFont</key>
	<string>Helvetica</string>
	<key>NSFontSize</key>
	<real>12</real>
	<key>NSFormalName</key>
	<string>English</string>
	<key>NSHourNameDesignations</key>
	<array>
		<array>
			<string>0</string>
			<string>midnight</string>
		</array>
		<array>
			<string>10</string>
			<string>morning</string>
		</array>
		<array>
			<string>12</string>
			<string>noon</string>
			<string>lunch</string>
		</array>
		<array>
			<string>14</string>
			<string>afternoon</string>
		</array>
		<array>
			<string>19</string>
			<string>dinner</string>
		</array>
	</array>
	<key>NSInitialToolTipDelay</key>
	<integer>200</integer>
	<key>NSInputServerLaunchTimeout</key>
	<string>60</string>
	<key>NSInterfaceStyle</key>
	<string>macintosh</string>
	<key>NSInternationalCurrencyString</key>
	<string>USD</string>
	<key>NSLanguageCode</key>
	<string>en</string>
	<key>NSLanguageName</key>
	<string>English</string>
	<key>NSLanguages</key>
	<array>
		<string>en</string>
		<string>ja</string>
		<string>fr</string>
		<string>de</string>
		<string>es</string>
		<string>it</string>
		<string>pt</string>
		<string>pt_PT</string>
		<string>nl</string>
		<string>sv</string>
		<string>nb</string>
		<string>da</string>
		<string>fi</string>
		<string>ru</string>
		<string>pl</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>ko</string>
	</array>
	<key>NSLaterTimeDesignations</key>
	<array>
		<string>next</string>
	</array>
	<key>NSLocaleCode</key>
	<string>en_US</string>
	<key>NSMargins</key>
	<string>72 72 90 90</string>
	<key>NSMenuFlashCount</key>
	<string>3</string>
	<key>NSMenuScrollingOffset</key>
	<string>3</string>
	<key>NSMenuScrollingSpeed</key>
	<string>5</string>
	<key>NSMonthNameArray</key>
	<array>
		<string>January</string>
		<string>February</string>
		<string>March</string>
		<string>April</string>
		<string>May</string>
		<string>June</string>
		<string>July</string>
		<string>August</string>
		<string>September</string>
		<string>October</string>
		<string>November</string>
		<string>December</string>
	</array>
	<key>NSNavLastRootDirectory</key>
	<string>~/Desktop</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSNavPanelFileLastListModeForOpenModeKey</key>
	<integer>1</integer>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>1</integer>
	<key>NSNegativeCurrencyFormatString</key>
	<string>($#,##0.00)</string>
	<key>NSNextDayDesignations</key>
	<array>
		<string>tomorrow</string>
	</array>
	<key>NSNextNextDayDesignations</key>
	<array>
		<string>nextday</string>
	</array>
	<key>NSParentContext</key>
	<string></string>
	<key>NSPositiveCurrencyFormatString</key>
	<string>$#,##0.00</string>
	<key>NSPreferredSpellServerVendors</key>
	<dict>
		<key>English</key>
		<string>NeXT-OpenStep</string>
	</dict>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSPriorDayDesignations</key>
	<array>
		<string>yesterday</string>
	</array>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>NSQuotedKeystrokeBinding</key>
	<string>^q</string>
	<key>NSRequireAutoCollapseOutlineAfterDropsDefault</key>
	<string>NO</string>
	<key>NSResetIncrementalSearchOnFailure</key>
	<string>YES</string>
	<key>NSScrollAnimationEnabled</key>
	<string>YES</string>
	<key>NSScrollerButtonAcceleration</key>
	<string>8</string>
	<key>NSScrollerButtonDelay</key>
	<string>0.5</string>
	<key>NSScrollerButtonPeriod</key>
	<string>0.05</string>
	<key>NSScrollerHasSeparateArrows</key>
	<string>YES</string>
	<key>NSScrollerKnobCount</key>
	<string>2</string>
	<key>NSScrollerKnobDelay</key>
	<string>0.001</string>
	<key>NSShortDateFormatString</key>
	<string>%1m/%e/%y</string>
	<key>NSShortMonthNameArray</key>
	<array>
		<string>Jan</string>
		<string>Feb</string>
		<string>Mar</string>
		<string>Apr</string>
		<string>May</string>
		<string>Jun</string>
		<string>Jul</string>
		<string>Aug</string>
		<string>Sep</string>
		<string>Oct</string>
		<string>Nov</string>
		<string>Dec</string>
	</array>
	<key>NSShortTimeDateFormatString</key>
	<string>%1m/%e/%y, %1I:%M %p</string>
	<key>NSShortWeekDayNameArray</key>
	<array>
		<string>Sun</string>
		<string>Mon</string>
		<string>Tue</string>
		<string>Wed</string>
		<string>Thu</string>
		<string>Fri</string>
		<string>Sat</string>
	</array>
	<key>NSSmartCMYKColorConversion</key>
	<string>YES</string>
	<key>NSSplitView Subview Frames BrowserRightBottom</key>
	<array>
		<string>0.000000, 0.000000, 1043.000000, 765.000000, NO</string>
		<string>1044.000000, 0.000000, 1332.000000, 765.000000, NO</string>
	</array>
	<key>NSSplitView Subview Frames albumsAndSources</key>
	<array>
		<string>0.000000, 0.000000, 184.000000, 358.000000, NO</string>
		<string>0.000000, 359.000000, 184.000000, 689.000000, NO</string>
		<string>0.000000, 1049.000000, 184.000000, 194.000000, NO</string>
	</array>
	<key>NSSplitView Subview Frames comparative</key>
	<array>
		<string>0.000000, 0.000000, 2195.000000, 477.000000, NO</string>
		<string>2196.000000, 0.000000, 180.000000, 477.000000, NO</string>
	</array>
	<key>NSSplitView Subview Frames drawer</key>
	<array>
		<string>0.000000, 0.000000, 184.000000, 1243.000000, NO</string>
		<string>185.000000, 0.000000, 2376.000000, 1243.000000, NO</string>
	</array>
	<key>NSSplitView Subview Frames horizontal</key>
	<array>
		<string>0.000000, 0.000000, 2376.000000, 477.000000, NO</string>
		<string>0.000000, 478.000000, 2376.000000, 765.000000, NO</string>
	</array>
	<key>NSSystemFont</key>
	<string>LucidaGrande</string>
	<key>NSSystemFontSize</key>
	<real>13</real>
	<key>NSTableView Columns LogTable1</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHR5cGWG
		</data>
		<string>100</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErC3BhdGllbnROYW1lhg==
		</data>
		<string>148</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0dWR5TmFtZYY=
		</data>
		<string>88</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCm9yaWdpbk5hbWWG
		</data>
		<string>72</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0YXJ0VGltZYY=
		</data>
		<string>120</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB2VuZFRpbWWG
		</data>
		<string>120</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCm51bWJlclNlbnSG
		</data>
		<string>50</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErC251bWJlckVycm9yhg==
		</data>
		<string>50</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErDG51bWJlckltYWdlc4Y=
		</data>
		<string>50</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB21lc3NhZ2WG
		</data>
		<string>100</string>
	</array>
	<key>NSTableView Columns LogTable2</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHR5cGWG
		</data>
		<string>100</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB1BhdGllbnSG
		</data>
		<string>149</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBVN0dWR5hg==
		</data>
		<string>101</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCm9yaWdpbk5hbWWG
		</data>
		<string>76</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0YXJ0VGltZYY=
		</data>
		<string>120</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB2VuZFRpbWWG
		</data>
		<string>120</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCm51bWJlclNlbnSG
		</data>
		<string>80</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErC251bWJlckVycm9yhg==
		</data>
		<string>80</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErDG51bWJlckltYWdlc4Y=
		</data>
		<string>80</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB21lc3NhZ2WG
		</data>
		<string>110</string>
	</array>
	<key>NSTableView Columns LogTable3</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHR5cGWG
		</data>
		<string>100</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB1BhdGllbnSG
		</data>
		<string>166</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBVN0dWR5hg==
		</data>
		<string>155</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCm9yaWdpbk5hbWWG
		</data>
		<string>71</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0YXJ0VGltZYY=
		</data>
		<string>120</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB2VuZFRpbWWG
		</data>
		<string>120</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCm51bWJlclNlbnSG
		</data>
		<string>50</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErDG51bWJlckltYWdlc4Y=
		</data>
		<string>50</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB21lc3NhZ2WG
		</data>
		<string>100</string>
	</array>
	<key>NSTableView Columns LogTable4</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHR5cGWG
		</data>
		<string>100</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB1BhdGllbnSG
		</data>
		<string>144</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBVN0dWR5hg==
		</data>
		<string>164</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCm9yaWdpbk5hbWWG
		</data>
		<string>146</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0YXJ0VGltZYY=
		</data>
		<string>120</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB21lc3NhZ2WG
		</data>
		<string>300</string>
	</array>
	<key>NSTableView Columns XMLOutline</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBG5hbWWG
		</data>
		<string>296</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErDGF0dHJpYnV0ZVRhZ4Y=
		</data>
		<string>80</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErC3N0cmluZ1ZhbHVlhg==
		</data>
		<string>529</string>
	</array>
	<key>NSTableView Hidden Columns LogTable1</key>
	<array/>
	<key>NSTableView Hidden Columns LogTable2</key>
	<array/>
	<key>NSTableView Hidden Columns LogTable3</key>
	<array/>
	<key>NSTableView Hidden Columns LogTable4</key>
	<array/>
	<key>NSTableView Hidden Columns XMLOutline</key>
	<array/>
	<key>NSTableView Sort Ordering LogTable1</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0YXJ0VGltZYY=
		</data>
		<false/>
	</array>
	<key>NSTableView Sort Ordering LogTable2</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0YXJ0VGltZYY=
		</data>
		<false/>
	</array>
	<key>NSTableView Sort Ordering LogTable3</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0YXJ0VGltZYY=
		</data>
		<false/>
	</array>
	<key>NSTableView Sort Ordering LogTable4</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCXN0YXJ0VGltZYY=
		</data>
		<false/>
	</array>
	<key>NSTableView Sort Ordering XMLOutline</key>
	<array/>
	<key>NSThisDayDesignations</key>
	<array>
		<string>today</string>
		<string>now</string>
	</array>
	<key>NSThousandsSeparator</key>
	<string>,</string>
	<key>NSTiledLayerPrefetch</key>
	<integer>100</integer>
	<key>NSTimeDateFormatString</key>
	<string>%A, %B %e, %y at %1I:%M:%S %p %Z</string>
	<key>NSTimeFormatString</key>
	<string>%1I:%M:%S %p</string>
	<key>NSToolbar Configuration DicomDatabase Toolbar Identifier</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSUIHeartBeatCycle</key>
	<string>0.03</string>
	<key>NSUseCocoaInputServers</key>
	<string>YES</string>
	<key>NSUserDictionaryReplacementItems</key>
	<array/>
	<key>NSWeekDayNameArray</key>
	<array>
		<string>Sunday</string>
		<string>Monday</string>
		<string>Tuesday</string>
		<string>Wednesday</string>
		<string>Thursday</string>
		<string>Friday</string>
		<string>Saturday</string>
	</array>
	<key>NSWindow Frame CustomIntervalWindow</key>
	<string>1132 1545 154 297 0 0 2560 1418 </string>
	<key>NSWindow Frame PluginsWindow</key>
	<string>242 378 800 900 0 0 2560 1418 </string>
	<key>NSWindow Frame PreferencesWindow</key>
	<string>0 728 722 690 0 0 2560 1418 </string>
	<key>NSWindow Frame XMLWindow</key>
	<string>77 142 933 692 0 0 2560 1418 </string>
	<key>NSWindowResizeTime</key>
	<string>.20</string>
	<key>NSYearMonthWeekDesignations</key>
	<array>
		<string>year</string>
		<string>month</string>
		<string>week</string>
	</array>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>1</integer>
	<key>NonViewerScreens</key>
	<array/>
	<key>OSIEnvironmentActivated</key>
	<false/>
	<key>REPORTSMODE</key>
	<integer>0</integer>
	<key>ROIArrowThickness</key>
	<real>1</real>
	<key>ROITEXTNAMEONLY</key>
	<false/>
	<key>SAMESTUDY</key>
	<true/>
	<key>SERVERS</key>
	<array>
		<dict>
			<key>AETitle</key>
			<string>OsiriX</string>
			<key>Activated</key>
			<string>1</string>
			<key>Address</key>
			<string>127.0.0.1</string>
			<key>Description</key>
			<string>This is an example</string>
			<key>Port</key>
			<string>4444</string>
			<key>SendControllerConcurrentThreads</key>
			<integer>1</integer>
			<key>TransferSyntax</key>
			<integer>0</integer>
			<key>retrieveMode</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>SOFTWAREINTERPOLATION</key>
	<true/>
	<key>STARTCOUNT</key>
	<integer>6</integer>
	<key>SendControllerConcurrentThreads</key>
	<integer>4</integer>
	<key>SeriesListVisible</key>
	<true/>
	<key>SplitAlbums</key>
	<array>
		<string>{{0, 0}, {184, 358}}</string>
		<string>{{0, 359}, {184, 689}}</string>
		<string>{{0, 1049}, {184, 194}}</string>
	</array>
	<key>SplitComparative</key>
	<array>
		<string>{{0, 0}, {2195, 477}}</string>
		<string>{{2196, 0}, {180, 477}}</string>
	</array>
	<key>SplitComparativeHidden</key>
	<false/>
	<key>SplitDrawer</key>
	<array>
		<string>{{0, 0}, {184, 1243}}</string>
		<string>{{185, 0}, {2376, 1243}}</string>
	</array>
	<key>SplitDrawerHidden</key>
	<false/>
	<key>SplitHorz2</key>
	<array>
		<string>{{0, 0}, {2376, 477}}</string>
		<string>{{0, 478}, {2376, 765}}</string>
	</array>
	<key>SplitVert2</key>
	<array>
		<string>{{0, 0}, {1043, 765}}</string>
		<string>{{1044, 0}, {1332, 765}}</string>
	</array>
	<key>USEALWAYSTOOLBARPANEL2</key>
	<true/>
	<key>UndoQueueSize</key>
	<integer>20</integer>
	<key>UseHostNameForAETitle</key>
	<false/>
	<key>UseKDUForJPEG2000</key>
	<true/>
	<key>UseOpenJpegForJPEG2000</key>
	<false/>
	<key>VRAMAmount</key>
	<integer>1024</integer>
	<key>VRDefaultViewSize</key>
	<integer>0</integer>
	<key>WebKitAVFoundationEnabled</key>
	<true/>
	<key>WebKitAccelerated2dCanvasEnabled</key>
	<false/>
	<key>WebKitAcceleratedCompositingEnabled</key>
	<true/>
	<key>WebKitAcceleratedDrawingEnabled</key>
	<false/>
	<key>WebKitAllowAnimatedImageLoopingPreferenceKey</key>
	<true/>
	<key>WebKitAllowAnimatedImagesPreferenceKey</key>
	<true/>
	<key>WebKitAllowFileAccessFromFileURLs</key>
	<true/>
	<key>WebKitAllowUniversalAccessFromFileURLs</key>
	<true/>
	<key>WebKitApplicationCacheDefaultOriginQuota</key>
	<integer>9223372036854775807</integer>
	<key>WebKitApplicationCacheTotalQuota</key>
	<integer>9223372036854775807</integer>
	<key>WebKitApplicationChromeModeEnabledPreferenceKey</key>
	<false/>
	<key>WebKitAsynchronousSpellCheckingEnabled</key>
	<false/>
	<key>WebKitAuthorAndUserStylesEnabledPreferenceKey</key>
	<true/>
	<key>WebKitBackForwardCacheExpirationIntervalKey</key>
	<string>1800</string>
	<key>WebKitBackspaceKeyNavigationEnabled</key>
	<true/>
	<key>WebKitCSSCompositingEnabled</key>
	<true/>
	<key>WebKitCSSCustomFilterEnabled</key>
	<true/>
	<key>WebKitCSSGridLayoutEnabled</key>
	<false/>
	<key>WebKitCSSRegionsEnabled</key>
	<true/>
	<key>WebKitCacheModelPreferenceKey</key>
	<integer>0</integer>
	<key>WebKitCanvasUsesAcceleratedDrawing</key>
	<false/>
	<key>WebKitCursiveFont</key>
	<string>Apple Chancery</string>
	<key>WebKitDNSPrefetchingEnabled</key>
	<false/>
	<key>WebKitDOMPasteAllowedPreferenceKey</key>
	<false/>
	<key>WebKitDatabasesEnabledPreferenceKey</key>
	<true/>
	<key>WebKitDefaultFixedFontSize</key>
	<string>13</string>
	<key>WebKitDefaultFontSize</key>
	<string>16</string>
	<key>WebKitDefaultTextEncodingName</key>
	<string>ISO-8859-1</string>
	<key>WebKitDeveloperExtrasEnabledPreferenceKey</key>
	<false/>
	<key>WebKitDiagnosticLoggingEnabled</key>
	<false/>
	<key>WebKitDisplayImagesKey</key>
	<true/>
	<key>WebKitEditableLinkBehavior</key>
	<integer>0</integer>
	<key>WebKitEnableInheritURIQueryComponent</key>
	<false/>
	<key>WebKitExperimentalNotificationsEnabledPreferenceKey</key>
	<false/>
	<key>WebKitFantasyFont</key>
	<string>Papyrus</string>
	<key>WebKitFixedFont</key>
	<string>Courier</string>
	<key>WebKitFrameFlatteningEnabled</key>
	<false/>
	<key>WebKitFullScreenEnabled</key>
	<false/>
	<key>WebKitHiddenPageCSSAnimationSuspensionEnabled</key>
	<false/>
	<key>WebKitHiddenPageDOMTimerThrottlingEnabled</key>
	<false/>
	<key>WebKitHyperlinkAuditingEnabled</key>
	<true/>
	<key>WebKitJavaEnabled</key>
	<true/>
	<key>WebKitJavaScriptCanAccessClipboard</key>
	<false/>
	<key>WebKitJavaScriptCanOpenWindowsAutomatically</key>
	<true/>
	<key>WebKitJavaScriptEnabled</key>
	<true/>
	<key>WebKitJavaScriptExperimentsEnabledPreferenceKey</key>
	<false/>
	<key>WebKitKerningAndLigaturesEnabledByDefault</key>
	<true/>
	<key>WebKitLoadSiteIconsKey</key>
	<false/>
	<key>WebKitLocalFileContentSniffingEnabledPreferenceKey</key>
	<false/>
	<key>WebKitLocalStorageEnabledPreferenceKey</key>
	<true/>
	<key>WebKitLowPowerVideoAudioBufferSizeEnabled</key>
	<false/>
	<key>WebKitMediaPlaybackAllowsInline</key>
	<true/>
	<key>WebKitMediaPlaybackRequiresUserGesture</key>
	<false/>
	<key>WebKitMinimumFontSize</key>
	<string>0</string>
	<key>WebKitMinimumLogicalFontSize</key>
	<string>9</string>
	<key>WebKitNotificationsEnabled</key>
	<true/>
	<key>WebKitOfflineWebApplicationCacheEnabled</key>
	<false/>
	<key>WebKitPDFDisplayMode</key>
	<string>1</string>
	<key>WebKitPDFScaleFactor</key>
	<string>0</string>
	<key>WebKitPageCacheSupportsPluginsPreferenceKey</key>
	<true/>
	<key>WebKitPictographFont</key>
	<string>Apple Color Emoji</string>
	<key>WebKitPlugInSnapshottingEnabled</key>
	<false/>
	<key>WebKitPluginsEnabled</key>
	<true/>
	<key>WebKitPrivateBrowsingEnabled</key>
	<false/>
	<key>WebKitQTKitEnabled</key>
	<true/>
	<key>WebKitRegionBasedColumnsEnabled</key>
	<false/>
	<key>WebKitRequestAnimationFrameEnabled</key>
	<true/>
	<key>WebKitRespectStandardStyleKeyEquivalents</key>
	<false/>
	<key>WebKitSansSerifFont</key>
	<string>Helvetica</string>
	<key>WebKitScreenFontSubstitutionEnabled</key>
	<false/>
	<key>WebKitSerifFont</key>
	<string>Times</string>
	<key>WebKitShouldDisplayCaptions</key>
	<false/>
	<key>WebKitShouldDisplaySubtitles</key>
	<false/>
	<key>WebKitShouldDisplayTextDescriptions</key>
	<false/>
	<key>WebKitShouldPrintBackgroundsPreferenceKey</key>
	<false/>
	<key>WebKitShouldRespectImageOrientation</key>
	<false/>
	<key>WebKitShowDebugBorders</key>
	<false/>
	<key>WebKitShowRepaintCounter</key>
	<false/>
	<key>WebKitShowsToolTipOverTruncatedText</key>
	<false/>
	<key>WebKitShowsURLsInToolTips</key>
	<false/>
	<key>WebKitShrinksStandaloneImagesToFit</key>
	<false/>
	<key>WebKitSpatialNavigationEnabled</key>
	<false/>
	<key>WebKitStandardFont</key>
	<string>Times</string>
	<key>WebKitStorageBlockingPolicy</key>
	<integer>0</integer>
	<key>WebKitSuppressesIncrementalRendering</key>
	<false/>
	<key>WebKitTabToLinksPreferenceKey</key>
	<false/>
	<key>WebKitTextAreasAreResizable</key>
	<false/>
	<key>WebKitTextDirectionSubmenuInclusionBehaviorPreferenceKey</key>
	<integer>1</integer>
	<key>WebKitUseLegacyTextAlignPositionedElementBehavior</key>
	<false/>
	<key>WebKitUsePreHTML5ParserQuirks</key>
	<false/>
	<key>WebKitUseSiteSpecificSpoofing</key>
	<string>0</string>
	<key>WebKitUserStyleSheetEnabledPreferenceKey</key>
	<false/>
	<key>WebKitUserStyleSheetLocationPreferenceKey</key>
	<string></string>
	<key>WebKitUsesEncodingDetector</key>
	<false/>
	<key>WebKitUsesPageCachePreferenceKey</key>
	<true/>
	<key>WebKitWantsBalancedSetDefersLoadingBehavior</key>
	<false/>
	<key>WebKitWebArchiveDebugModeEnabledPreferenceKey</key>
	<false/>
	<key>WebKitWebAudioEnabled</key>
	<false/>
	<key>WebKitWebGLEnabled</key>
	<false/>
	<key>WebKitWebSecurityEnabled</key>
	<true/>
	<key>WebKitXSSAuditorEnabled</key>
	<true/>
	<key>WebKitZoomsTextOnly</key>
	<true/>
	<key>autoRetrieving</key>
	<false/>
	<key>com.apple.AppleModemSettingTool.LastCountryCode</key>
	<string>US</string>
	<key>com.apple.ColorSync.Devices</key>
	<dict/>
	<key>com.apple.TimeZonePref.Last_Selected_City</key>
	<array>
		<string>33.74899673461914</string>
		<string>-84.38798522949219</string>
		<string>0</string>
		<string>America/New_York</string>
		<string>US</string>
		<string>Atlanta</string>
		<string>U.S.A.</string>
		<string>Atlanta</string>
		<string>U.S.A.</string>
		<string>DEPRECATED IN 10.6</string>
	</array>
	<key>com.apple.mouse.scaling</key>
	<real>2</real>
	<key>com.apple.preferences.timezone.selected_city</key>
	<dict>
		<key>CountryCode</key>
		<string>US</string>
		<key>GeonameID</key>
		<integer>4180439</integer>
		<key>Latitude</key>
		<real>33.748996734619141</real>
		<key>LocalizedNames</key>
		<dict>
			<key>da</key>
			<string>Atlanta</string>
			<key>de</key>
			<string>Atlanta</string>
			<key>en</key>
			<string>Atlanta</string>
			<key>es</key>
			<string>Atlanta</string>
			<key>fi</key>
			<string>Atlanta</string>
			<key>fr</key>
			<string>Atlanta</string>
			<key>it</key>
			<string>Atlanta</string>
			<key>ja</key>
			<string>アトランタ</string>
			<key>ko</key>
			<string>애틀랜타</string>
			<key>nl</key>
			<string>Atlanta</string>
			<key>pl</key>
			<string>Atlanta</string>
			<key>pt</key>
			<string>Atlanta</string>
			<key>pt-PT</key>
			<string>Atlanta</string>
			<key>ru</key>
			<string>Атланта</string>
			<key>sv</key>
			<string>Atlanta</string>
			<key>zh-Hans</key>
			<string>亚特兰大</string>
			<key>zh-Hant</key>
			<string>亞特蘭大</string>
		</dict>
		<key>Longitude</key>
		<real>-84.387985229492188</real>
		<key>Name</key>
		<string>Atlanta</string>
		<key>Population</key>
		<integer>422908</integer>
		<key>RegionalCode</key>
		<string>GA</string>
		<key>TimeZoneName</key>
		<string>America/New_York</string>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>com.apple.springing.delay</key>
	<real>0.33333333333333331</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.enableSecondaryClick</key>
	<true/>
	<key>com.apple.trackpad.fiveFingerPinchSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.fourFingerHorizSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.fourFingerPinchSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.fourFingerVertSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.momentumScroll</key>
	<true/>
	<key>com.apple.trackpad.pinchGesture</key>
	<true/>
	<key>com.apple.trackpad.rotateGesture</key>
	<true/>
	<key>com.apple.trackpad.scrollBehavior</key>
	<integer>2</integer>
	<key>com.apple.trackpad.threeFingerDragGesture</key>
	<false/>
	<key>com.apple.trackpad.threeFingerDragginGesture</key>
	<false/>
	<key>com.apple.trackpad.threeFingerHorizSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.threeFingerTapGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.threeFingerVertSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.twoFingerDoubleTapGesture</key>
	<integer>1</integer>
	<key>com.apple.trackpad.twoFingerFromRightEdgeSwipeGesture</key>
	<integer>3</integer>
	<key>com.apple.trackpad.version</key>
	<integer>5</integer>
	<key>com.apple.updatesettings_did_disable_ftp</key>
	<true/>
	<key>databaseColumns2</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>name</string>
			<key>Width</key>
			<real>238</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>reportURL</string>
			<key>Width</key>
			<real>100</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>lockedStudy</string>
			<key>Width</key>
			<real>45</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>patientID</string>
			<key>Width</key>
			<real>100</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>yearOld</string>
			<key>Width</key>
			<real>70</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>accessionNumber</string>
			<key>Width</key>
			<real>119</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>studyName</string>
			<key>Width</key>
			<real>155</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modality</string>
			<key>Width</key>
			<real>65</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>id</string>
			<key>Width</key>
			<real>60</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>comment</string>
			<key>Width</key>
			<real>100</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>stateText</string>
			<key>Width</key>
			<real>100</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>date</string>
			<key>Width</key>
			<real>130</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>noFiles</string>
			<key>Width</key>
			<real>50</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>noSeries</string>
			<key>Width</key>
			<real>50</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>dateAdded</string>
			<key>Width</key>
			<real>130</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>dateOpened</string>
			<key>Width</key>
			<real>130</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>referringPhysician</string>
			<key>Width</key>
			<real>120</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>performingPhysician</string>
			<key>Width</key>
			<real>120</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>institutionName</string>
			<key>Width</key>
			<real>120</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>albumsNames</string>
			<key>Width</key>
			<real>120</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>dateOfBirth</string>
			<key>Width</key>
			<real>90</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>localstring</string>
			<key>Width</key>
			<real>16</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>comment2</string>
			<key>Width</key>
			<real>100</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>comment3</string>
			<key>Width</key>
			<real>100</real>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>comment4</string>
			<key>Width</key>
			<real>100</real>
		</dict>
	</array>
	<key>databaseSortDescriptor</key>
	<dict>
		<key>key</key>
		<string>name</string>
		<key>order</key>
		<true/>
	</dict>
	<key>hasFULL32BITPIPELINE</key>
	<true/>
	<key>hasMacOSXSnowLeopard</key>
	<true/>
	<key>hideListenerError</key>
	<false/>
	<key>is12bitPluginAvailable</key>
	<false/>
	<key>isQueryControllerVisible</key>
	<false/>
	<key>lastDate32bitPipelineCheck</key>
	<real>430922741.84790301</real>
	<key>lastSendServer</key>
	<integer>1</integer>
	<key>listPODComparativesIn2DViewer</key>
	<true/>
	<key>localDatabasePaths</key>
	<array/>
	<key>publishDICOMBonjour</key>
	<false/>
	<key>savedCommentsAndStatusInDICOMFiles</key>
	<false/>
	<key>searchType</key>
	<integer>0</integer>
	<key>syncPreviewList</key>
	<true/>
	<key>syntaxListOffis</key>
	<integer>0</integer>
	<key>timeZone</key>
	<integer>-14400</integer>
	<key>useDCMTKForJP2K</key>
	<true/>
	<key>userMenuExtraStyle</key>
	<integer>1</integer>
	<key>verbose_dcmtkStoreScu</key>
	<false/>
</dict>
</plist>
